{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}
<title>Reisweb | Controle de Membros</title>
{% endblock 'head' %}
{% block 'conteudo' %}
  
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
          <div>
            <h3 class="fw-bold mb-3">Controle de Membros</h3>
            <h6 class="op-7 mb-2"></h6>
          </div>
          <div class="ms-md-auto py-2 py-md-0">
            
          </div>
        </div>

        <div class="row">

          <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-primary card-round">
              <a href="{% url 'membros' %}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="icon-big text-center">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                    <div class="col-7 col-stats">
                      <div class="numbers">
                        <p class="card-category">Cadastro de Membros</p>
                        <h4 class="card-title">{{ total_membros }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-secondary card-round">
              <a href="{% url 'controle_transferidos' %}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="icon-big text-center">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                    <div class="col-7 col-stats">
                      <div class="numbers">
                        <p class="card-category">Membros Transferidos</p>
                        <h4 class="card-title">{{ total_membros_transf }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-danger card-round">
              <a href="{% url 'selecionar_carteirinhas' %}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <div class="icon-big text-center">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                    <div class="col-7 col-stats">
                      <div class="numbers">
                        <p class="card-category">Carteirinha de Membro</p>
                        <h4 class="card-title">{{ total_membros }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!--Final Row CARDS-->

        <!-- GRÁFICOS -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Membros</div>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas
                  id="doughnutChart"
                  style="width: 50%; height: 50%"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
{% endblock %}