{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}
<title>Reisweb | Controle Financeiro</title>
{% endblock 'head' %}
{% block 'conteudo' %}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
  <div>
    <h3 class="fw-bold mb-3">Controle Financeiro</h3>
    <h6 class="op-7 mb-2"></h6>
  </div>
  <div class="ms-md-auto py-2 py-md-0">
    <!--<a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
    <a href="#" class="btn btn-primary btn-round">Add Customer</a>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-primary card-round">
      <a href="{% url 'dizimos' %}">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fas fa-users"></i>
              </div>
            </div>
            <div class="col-7 col-stats">
              <div class="numbers">
                <h4 class="card-title">Dízimos</h4>
                <!--<p class="card-category">01/04/2025</p>-->
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-secondary card-round">
      <a href="{% url 'ofertas' %}">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fas fa-users"></i>
              </div>
            </div>
            <div class="col-7 col-stats">
              <div class="numbers">
                <h4 class="card-title">Ofertas</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-success card-round">
      <a href="#">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
            <div class="col-7 col-stats">
              <div class="numbers">
                <h6 class="card-title">Entradas</h6>
                <p class="text-danger">EM BREVE</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
    
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-danger card-round">
      <a href="{% url 'todas_contas' %}">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
            <div class="col-7 col-stats">
              <div class="numbers">
                <h4 class="card-title">Saídas</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Final Row CARDS-->

<!-- GRÁFICOS -->
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Receita / Despesas</div>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="multipleLineChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>  
        
{% endblock %}