{% extends "bases/base_plataformaigreja.html" %}
{% load static %}
{% block 'head' %}
    
{% endblock 'head' %}
{% block 'conteudo' %}
<div class="container">
    <div class="page-inner">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
          <h3 class="fw-bold mb-3">Dashboard</h3>
        </div>
      </div>
      <!--Widgets-->
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-primary card-round">
            <a href="{% url 'membros' %}">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                  <div class="col-7 col-stats">
                    <div class="numbers">
                      <p class="card-category">Membros</p>
                      <h4 class="card-title">0</h4>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-success card-round">
            <a href="{% url 'dizimos' %}">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center">
                      <i class="fas fa-money-check-alt"></i>
                    </div>
                  </div>
                  <div class="col-7 col-stats">
                    <div class="numbers">
                      <p class="card-category">Dízimos</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-info card-round">
            <a href="{% url 'ofertas' %}">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center">
                      <i class="fas fa-hand-holding-usd"></i>
                    </div>
                  </div>
                  <div class="col-7 col-stats">
                    <div class="numbers">
                      <p class="card-category">Ofertas</p> 
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card card-stats card-secondary card-round">
            <a href="{% url 'todas_contas' %}">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-big text-center">
                      <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                  </div>
                  <div class="col-7 col-stats">
                    <div class="numbers">
                      <p class="card-category">Contas a Pagar</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
      <!-- Final Widgets-->
      <div class="row">
      
      </div>
      <!--
      ##mapa
      <div class="row">
        
      </div>-->
      <div class="row">
        
        
      </div>
    </div>
  </div>

  
{% endblock %}
