{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}
{% endblock 'head' %}
{% block 'conteudo' %}

  <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
      <h3 class="fw-bold mb-3">Dashboard</h3>
    </div>
  </div>
  <!--Cards-->
  <div class="row">
    <!--Gerenciar Membros-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <a href="{% url 'controle_membros' %}">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-primary bubble-shadow-small"
                >
                  <i class="fas fa-users"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-title">Membros</p>
                  <h4 class="card-category">{{ total_membros }}</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!--Final Gerenciar Membros-->
    <!--Gerenciar Dízimos
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <a href="{% url 'dizimos' %}">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-info bubble-shadow-small"
                >
                <i class="fas fa-money-check-alt"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-title">Dízimos</p>
                  <h4 class="card-category">00/03/2025</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>-->
    <!--Final Gerenciar Dízimos-->

    <!--Gerenciar Ofertas

    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <a href="{% url 'ofertas' %}">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div
                  class="icon-big text-center icon-success bubble-shadow-small"
                >
                <i class="fas fa-hand-holding-usd"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-title">Ofertas</p>
                  <h4 class="card-category">00/03/2025</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>-->
    <!--Final Gerenciar Ofertas-->
    
    <!--Gerenciar controle Financeiro-->

    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <a href="{% url 'controle_financeiro' %}">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-icon">
                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                  <i class="fas fa-file-invoice-dollar"></i>
                </div>
              </div>
              <div class="col col-stats ms-3 ms-sm-0">
                <div class="numbers">
                  <p class="card-title">Controle Financeiro</p>
                  <h1 class="card-category">Dízimos, ofertas, despesas</h1>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div
                class="icon-big text-center icon-secondary bubble-shadow-small"
              >
                <i class="far fa-check-circle"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-title">Relatórios</p>
                <h4 class="card-category">Membros, despesas, ofertas, dízimos</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div
                class="icon-big text-center icon-secondary bubble-shadow-small"
              >
                <i class="far fa-check-circle"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-title">Documentos</p>
                <h4 class="card-category">Atas, ofícios</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Final Controle Financeiro-->
    
  </div>
  <!-- Final Cards-->
   <!--GRÁFICOS-->
  <div class="row">
   
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Congregações / Membros</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas
              id="doughnutChart"
              style="width: 50%; height: 50%"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
