{% extends "bases/base_plataformaigreja.html" %}
{% load static %}
{% block 'head' %}
{% endblock 'head' %}
{% block 'conteudo' %}
  <div class="container">
    <div class="page-inner">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Relatório de Dízimos</h4>
                 <!--TODO:  <button class="btn btn-primary btn-round ms-auto" onclick="window.print()"> <i class="fa fa-print"></i> Imprimir</button>-->
                </div>
            </div>

                    <!-- Formulário para selecionar mês e ano -->
                    <form action="{% url 'gerar_relatorio_dizimos' %}" method="get">
                      <label for="mes">Mês:</label>
                      <select name="mes" id="mes">
                          {% for num, nome in meses_disponiveis %}
                              <option value="{{ num }}">{{ nome }}</option>
                          {% endfor %}
                      </select>
                  
                      <label for="ano">Ano:</label>
                      <select name="ano" id="ano">
                          {% for ano in anos_disponiveis %}
                              <option value="{{ ano }}">{{ ano }}</option>
                          {% endfor %}
                      </select>
                  
                      <button type="submit">Gerar Relatório</button>
                  </form>

                    
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery Scrollbar --> 
    <script src="{% static 'geral/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
     <!--Datatables -->
    <script src="{% static 'geral/assets/js/plugin/datatables/datatables.min.js' %}"></script>
    <!-- Kaiadmin JS -->
    <script src="{% static 'geral/assets/js/kaiadmin.min.js' %}"></script>
    <!-- Kaiadmin DEMO methods, don't include it in your project!   -->
    <script src="{% static 'geral/assets/js/core/jquery-3.7.1.min.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
          pageLength: 100,
          initComplete: function () {
            this.api()
              .columns()
              .every(function () {
                var column = this;
                var select = $(
                  '<select class="form-select"><option value=""></option></select>'
                )
                  .appendTo($(column.footer()).empty())
                  .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                      .search(val ? "^" + val + "$" : "", true, false)
                      .draw();
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append(
                      '<option value="' + d + '">' + d + "</option>"
                    );
                  });
              });
          },
        });

        // Add Row
        $("#add-row").DataTable({
          pageLength: 100,
          search: none,
          "language": {
            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        }
        });

        
      });
     
    </script>
{% endblock %}