<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carta de Transferência</title>
</head>
<body>
    <h2 style="text-align: center;">Carta de Transferência</h2>

    <p>Declaramos, para os devidos fins, que o membro <strong>{{ membro.nome }}</strong> foi transferido da igreja <strong>{{ igreja_origem.nome_igreja }}</strong>, situada em {{ igreja_origem.endereco }}, para a igreja <strong>{{ igreja_destino }}</strong> localizada em {{ cidade_destino }}.</p>

    <p>Data da transferência: <strong>{{ data_transferencia }}</strong></p>

    <br><br>
    <p>_______________________________</p>
    <p>Assinatura do Pastor</p>
</body>
</html>
