{% extends "bases/base_plataformaigreja.html" %}
{% load static %}
{% block 'head' %}
{% endblock 'head' %}
{% block 'conteudo' %}
    <!--TABELA MEMBROS-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Transferidos</h4>
                    <a href="{% url 'controle_membros' %}" class="btn btn-danger ms-2 btn-sm ms-auto"><i class="fas fa-arrow-left"></i> Voltar</a>
                </div>
            </div>  
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    {% if messages %}
                    <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <thead>
                        <tr>
                            <th style="width: 30%">Nome</th>
                            <th style="width: 10%">CPF</th>
                            <th style="width: 20%">CARGO</th>
                            <th style="width: 10%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membro in membros %}
                        <tr>
                            <td>{{membro.nome}}</td>
                            <td>{{membro.cpf | default:"000.000.000-00"}}</td>
                            <!--<td> {{membro.telefone | default:"(00) 00000-0000"}}</td>-->
                            <!--TODO:DESENVOLVER UMA VALIDAÇÃO DE DADOS PARA OS CARGOS-->
                            <td>
                            {% if membro.cargo == "Mb" %}
                                Membro
                            {% elif membro.cargo == "A" %}
                                Auxiliar
                            {% elif membro.cargo == "C" %}
                                Congregado
                            {% elif membro.cargo == "Cr" %}
                                Crianças
                            {% elif membro.cargo == "Da" %}
                                Diaconisa
                            {% elif membro.cargo == "D" %}
                                Diácono
                            {% elif membro.cargo == "E" %}
                                Evangelista
                            {% elif membro.cargo == "J" %}
                                Jovem
                            {% elif membro.cargo == "Mi" %}
                                Missionário(a)
                            {% elif membro.cargo == "Pr" %}
                                Pastor
                            {% elif membro.cargo == "P" %}
                                Presbítero
                            {% endif %}
                            </td>
                            <td>
                                <button id="btnGroupDrop1" type="button"  class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ações     
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <div class="d-grid gap-2">
                                        <li>                                        
                                            <a href="{% url 'gerar_carta_transferencia' membro.id %}" class="btn btn-primary btn-sm">
                                                Gerar Carta de Transferência
                                            </a>
                                     
                                        </li>
                                        <li>
                                            <a href="{% url 'reativar_membro' membro.id %}" class="btn btn-success btn-sm">
                                                Reativar Membro
                                            </a>
                                        </li>
                                        <li>
                                            <!-- Botão para abrir o modal -->
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalTransferencia{{ membro.id }}" class="btn btn-primary btn-sm">
                                                Gerar Carta de Transferência
                                            </a>
                                            <!-- Modal -->
                                        </li>
                                    </div>
                                </ul>                                                        
                            </td>
                        </tr>
                        <div class="modal fade" id="modalTransferencia{{ membro.id }}" tabindex="-1" aria-labelledby="modalLabel{{ membro.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'gerar_carta_transferencia' membro.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel{{ membro.id }}">Carta de Transferência</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="data_transferencia{{ membro.id }}" class="form-label">Data da Transferência</label>
            <input type="date" class="form-control" name="data_transferencia" required>
          </div>
          <div class="mb-3">
            <label for="igreja_destino{{ membro.id }}" class="form-label">Igreja de Destino</label>
            <textarea class="form-control" name="igreja_destino" rows="3" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Gerar PDF</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Scrollbar --> 
<script src="{% static 'geral/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<!--Datatables -->
<script src="{% static 'geral/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<!-- Kaiadmin JS -->
<script src="{% static 'geral/assets/js/kaiadmin.min.js' %}"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! 
<script src="{% static "geral/assets/js/setting-demo2.js"%}"></script>-->
<script src="{% static 'geral/assets/js/core/jquery-3.7.1.min.js' %}"></script>

<script>
$(document).ready(function () {
    $("#basic-datatables").DataTable({});

    $("#multi-filter-select").DataTable({
    pageLength: 5,
    initComplete: function () {
        this.api()
        .columns()
        .every(function () {
            var column = this;
            var select = $(
            '<select class="form-select"><option value=""></option></select>'
            )
            .appendTo($(column.footer()).empty())
            .on("change", function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                column
                .search(val ? "^" + val + "$" : "", true, false)
                .draw();
            });

            column
            .data()
            .unique()
            .sort()
            .each(function (d, j) {
                select.append(
                '<option value="' + d + '">' + d + "</option>"
                );
            });
        });
    },
    });

    // Add Row
    $("#add-row").DataTable({
    pageLength: 10,
    "language": {
        "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
    }
    });

    var action =
    '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

    $("#addRowButton").click(function () {
    $("#add-row")
        .dataTable()
        .fnAddData([
        $("#addName").val(),
        $("#addPosition").val(),
        $("#addOffice").val(),
        action,
        ]);
    $("#addRowModal").modal("hide");
    });
    
});
//botão detalhes do membro
$(document).ready(function() {
    // Quando o botão "Ver Detalhes" é clicado
    $('.btn-detalhes').on('click', function() {
        var id = $(this).data('id'); // Obtém o ID do membro

        // Faz uma requisição AJAX para obter os dados do membro
        $.ajax({
            url: '/membros/obter-dados/' + id + '/',
            method: 'GET',
            success: function(data) {
                // Preenche a modal com os dados obtidos
                $('#nomeMembro').text(data.nome);
                $('#sexoMembro').text(data.sexo);
                $('#emailMembro').text(data.email || 'N/A');
                $('#telefoneMembro').text(data.telefone || 'N/A');
                $('#cpfMembro').text(data.cpf || 'N/A');
                $('#enderecoMembro').text(data.endereco || 'N/A');
                $('#dataNascimentoMembro').text(data.data_nascimento || 'N/A');
                $('#dataBatismoMembro').text(data.data_batismo || 'N/A');
                $('#cargoMembro').text(data.cargo);

                // Atualiza a foto do membro (se existir)
                if (data.foto) {
                    $('#fotoMembro').attr('src', data.foto);
                } else {
                    $('#fotoMembro').attr('src', ''); // Remove a foto se não existir
                }
            },
            error: function() {
                alert('Erro ao carregar os dados do membro.');
            }
        });
    });
});
</script>
{% endblock %}