

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span id="tituloModal">Excluir Registro</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="form-excluir" method="post">
        <div class="modal-body">

            Deseja Realmente excluir: <span id="nome-excluido">{{ object }}</span>?
            {% csrf_token %}
            <small><div id="mensagem-excluir" align="center"></div></small>

            <input type="hidden" class="form-control" name="id-excluir"  id="id-excluir">


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar-excluir">Cancelar</button>
            <button type="submit" class="btn btn-danger">Excluir</button>
        </div>
    </form>
</div>