{% load static %}
   <!-- Bootstrap core CSS -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

   <!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link href="../img/logo-icone.ico" rel="shortcut icon" type="image/x-icon">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
	<script type="text/javascript" src="{% static 'DataTables/datatables.min.js'%}"></script>

	<link href="{% static 'css/toastr.css' %}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="{% static 'js/toastr.js' %}"></script>
	{% block titulo %}
	<title>Painel Administrativo</title>
	{% endblock %}
</head>
<body class="background-sistema">
{% block menu %}
<header>
    <div class="px-3 py-1 nav-menu text-white">
    	<div class="container-fluider">
      	<div class=" d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a class="d-flex align-items-center mx-5 my-2 my-lg-0 me-lg-auto text-white text-decoration-none" href="{% url 'index' %}"><img src="{% static 'img/logo-icone.jpg' %}" width="45px"> </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url 'index' %}" class="nav-link text-white">
			  <i class="d-block mx-auto bi bi-house-door-fill"></i>
                Home
              </a>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  <i class="d-block mx-auto bi bi-people-fill"></i>
                Pessoas
              </a>
			  	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'bispos'%}">Pastor Presidente</a></li>
							<li><a class="dropdown-item" href="{% url 'listar-pastores' %}">Pastores (Presbíteros)</a></li>
							<li><a class="dropdown-item" href="{% url 'listar-tesoureiro'%}">Tesoureiros</a></li>
							<li><a class="dropdown-item" href="{% url 'listar-secretario'%}">Secretários</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'usuarios' %}">Usuários</a></li>			
				</ul>
            </li>

			<li class="nav-item dropdown">
              <a href="#" class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  <i class="d-block mx-auto bi bi-people-fill"></i>
			  	Cadastros
              </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

							<li><a class="dropdown-item" href="{% url 'listar-igrejas' %}">Igrejas</a></li>
							
							<li><a class="dropdown-item" href="{% url 'cadastrar-cargos' %}">Cargos Ministeriais</a></li>

							<li><a class="dropdown-item" href="{% url 'frequencias'%}">Frequências (Contas)</a></li>
							<li><a class="dropdown-item" href="{% url 'cadastrar-membros' %}">Cadastrar Membros (Teste)</a></li>
							
						</ul>
            </li>

			<li class="nav-item dropdown">
              <a href="#" class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  <i class="d-block mx-auto bi bi-people-fill"></i>
			  	Consultas
              </a>
			  	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="index.php?pag=anexos">Anexos / Arquivos</a></li>
							<li><a class="dropdown-item" href="{% url 'patrimonios'%}">Patrimônios</a></li>			
				</ul>
            </li>
			<li>
				<a href="{% url 'sobre' %}" class="nav-link text-white">
				<i class="d-block mx-auto bi bi-house-door-fill"></i>
				  Sobre
				</a>
			  </li>
			
            <li>
			  <a class="nav-link text-white" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#modalConfig"><i class="d-block mx-auto bi bi-gear-fill"></i>Configurações</a>
            </li>

            <li class="nav-item dropdown">
				<a href="#" class=" nav-link link-white foto text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="../img/membros/foto.php" alt="mdo" width="45" height="45" class=" max-auto bi mt-1 rounded-circle">
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" data-bs-toggle="modal" >nome usuario</a></li>				
								<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPerfil">Editar Dados</a></li>

								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
							</ul>
            </li>
			<li>
			  <a class="nav-link text-white" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#modalConfig"><p class="d-block mx-auto mt-2"></p></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block dashboard %}
	<div class="container-fluid mb-4 mx-4">
		<div class="container-fluid " >
            <section id="minimal-statistics" style="margin-right:20px">
                <div class="row mb-2">
                    <div class="col-12 mt-3 mb-1">
                        <h4 class="text-uppercase text-white">Dashboard</h4>
        
                    </div>
                </div>
        
                <div class="row">
                    
                    <div class="col-sm-3 mb-3">
                        <a href="{% url 'cadastrar-igrejas' %}" class="link-cards">
                            <div class="card bg-card-body">
                                <div class="card-body link-cards">
                                    <i class="bi bi-house-door-fill fs-1 float-center"></i>
                                    <h2>3</h2>
                                    <h4>Igrejas</h4>
                                    <p class="card-text texto-pequeno-card">Igrejas e Congregações Cadastradas</p>
                                </div>
                            </div>
                          </a>
                      </div>
        
                      <div class="col-sm-3 mb-3">
                        <a href="{% url 'cadastrar-pastores' %}" class="link-cards">
                            <div class="card bg-card-body">
                                <div class="card-body link-cards">
                                    <i class="bi bi-people fs-1 float-center"></i>
                                    <h2>5</h2>
                                    <h4>Pastores</h4>
                                    <p class="card-text texto-pequeno-card">Pastores Cadastrados</p>
                                </div>
                            </div>
                          </a>
                      </div>
          
                      <div class="col-sm-3 mb-3">
                        <a href="index.php?pag=membros" class="link-cards">
                            <div class="card bg-card-body">
                                <div class="card-body link-cards">
                                    <i class="bi bi-person-fill fs-1 float-center"></i>
                                    <h2>10</h2>
                                    <h4>Membros da Sede</h4>
                                    <p class="card-text texto-pequeno-card">Membros Cadastrados na igreja sede</p>
                                </div>
                            </div>
                          </a>
                      </div>
        
                      <div class="col-sm-3 mb-3">
                        <a href="index.php?pag=membros" class="link-cards">
                            <div class="card bg-card-body">
                                <div class="card-body link-cards">
                                    <i class="bi bi-people-fill fs-1 float-center"></i>
                                    <h2>500</h2>
                                    <h4>Membros da Sede</h4>
                                    <p class="card-text texto-pequeno-card">Total de Membros Cadastrados</p>
                                </div>
                            </div>
                          </a>
                      </div>
                </div>
        
            </section>
        
            <div class="text-xs font-weight-bold text-white text-uppercase mt-4 link-cards"><small>IGREJAS - SEDE E CONGREGAÇÕES</small></div>
            <hr class="text-white"> 
        
            <div class="row" style="margin-right:10px">
        
                
                    <div class="col-xl-2 col-md-6 col-12 mb-4 linkcard">
                        <a href="../painel-igreja/index.php?igreja=<?php echo $id_ig ?>">
                        <div class="card text-white mb-3 bg-card-body" style="max-width: 18rem;">
                          <div class="card-header bg-card-header"><?php echo $nome ?></div>
                          <div class="card-body bg-card-body">
                            <h6 class="card-title">Pr(a) Nome do Pastor</h6>
                            <p class="card-text">MEMBROS</p>
                          </div>
                        </div>
                    </a>
                      </div>
        
            </div>
        </div>
	</div>
{% endblock %}

</body>
</html>

<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Editar Dados</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="form-usu" method="post">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Nome</label>
								<input type="text" class="form-control" id="nome_usu" name="nome_usu" placeholder="Insira o Nome" value="<?php echo $nome_usu ?>" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">CPF</label>
								<input type="text" class="form-control" id="cpf_usu" name="cpf_usu" placeholder="Insira o CPF" value="<?php echo $cpf_usu ?>" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Email</label>
								<input type="email" class="form-control" id="email_usu" name="email_usu" placeholder="Insira o Email" value="<?php echo $email_usu ?>" required>
							</div>
						</div>

						<div class="col-md-4">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Senha</label>
								<input type="text" class="form-control" id="senha_usu" name="senha_usu" placeholder="Insira a Senha" value="<?php echo $senha_usu ?>" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">Foto</label>
									<input type="file" class="form-control-file" id="imagem-usu" name="imagem" onChange="carregarImg2();">
								</div>
							</div>
							<div class="col-md-4">
								<div id="divImg" class="mt-4">
									<img src="../img/membros/>"  width="100px" id="target-usu">									
								</div>
							</div>
						</div>

						<input type="hidden" name="id_usu" value="<?php echo $id_usuario ?>">

					</div>
				</div>
				<small><div align="center" id="msg-usu"></div></small>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar-usu">Fechar</button>
					<button type="submit" class="btn btn-primary">Editar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfig" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Configurações do Sistema</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="form-config" method="post">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Nome Igreja</label>
								<input type="text" class="form-control form-control-sm" id="nome_igr" name="nome_igr" placeholder="Nome da Igreja" value="<?php echo $nome_igr ?>" required>
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Email Igreja</label>
								<input type="email" class="form-control form-control-sm" id="email_igr" name="email_igr" placeholder="Insira o Email Igreja" value="<?php echo $email_igr ?>" required>
							</div>
						</div>

						<div class="col-md-4">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Telefone Igreja</label>
								<input type="text" class="form-control form-control-sm" id="tel_igr" name="tel_igr" placeholder="Telefone da Igreja" value="<?php echo $tel_igr ?>" required>
							</div>
						</div>
					</div>

					<div class="row">

							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Endereço Igreja</label>
								<input type="text" class="form-control form-control-sm" id="end_igr" name="end_igr" placeholder="Endereço da Igreja" value="<?php echo $end_igr ?>" required>
							</div>
						
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Qtd Tarefas</label>
								<input type="number" class="form-control form-control-sm" id="qtd_tar_igr" name="qtd_tar_igr" value="<?php echo $quantidade_tarefas ?>" required>
							</div>
						</div>
						<div class="col-md-3">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Limitar Tesoureiro</label>
								<select class="form-select form-select-sm" name="limitar_tesoureiro">
									<option <?php if($limitar_tesoureiro == 'Sim'){ ?>selected <?php } ?> value="Sim">Sim</option>
									<option <?php if($limitar_tesoureiro == 'Não'){ ?>selected <?php } ?> value="Não">Não</option>
								</select>
							</div>
						</div>

						<div class="col-md-3">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Relatório PDF</label>
								<select class="form-select form-select-sm" name="relatorio_pdf">
									<option <?php if($relatorio_pdf == 'Sim'){ ?>selected <?php } ?> value="Sim">Sim</option>
									<option <?php if($relatorio_pdf == 'Não'){ ?>selected <?php } ?> value="Não">Não</option>
								</select>
							</div>
						</div>

						<div class="col-md-3">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Cabeçalho Rel Imagem</label>
								<select class="form-select form-select-sm" name="cabecalho_rel_img">
									<option <?php if($cabecalho_rel_img == 'Sim'){ ?>selected <?php } ?> value="Sim">Sim</option>
									<option <?php if($cabecalho_rel_img == 'Não'){ ?>selected <?php } ?> value="Não">Não</option>
								</select>
							</div>
						</div>
					</div>

				</div>
			
			<small><div align="center" id="msg-config"></div></small>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar-config">Fechar</button>
				<button type="submit" class="btn btn-primary">Editar</button>
			</div>
		</form>
	</div>
</div>
</div>

<!-- Mascaras JS -->
<script type="text/javascript" src="{% static 'js/mascaras.js' %}"></script>

<!-- Ajax para funcionar Mascaras JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script> 

<script type="text/javascript">
	$("#form-usu").submit(function () {

		event.preventDefault();
		var formData = new FormData(this);

		$.ajax({
			url: "editar-dados.php",
			type: 'POST',
			data: formData,

			success: function (mensagem) {
				$('#msg-usu').text('');
				$('#msg-usu').removeClass()
				if (mensagem.trim() == "Salvo com Sucesso") {

					$('#btn-fechar-usu').click();
					window.location="index.php";

				} else {

					$('#msg-usu').addClass('text-danger')
					$('#msg-usu').text(mensagem)
				}


			},

			cache: false,
			contentType: false,
			processData: false,

		});

	});
</script>

<script type="text/javascript">
	$("#form-config").submit(function () {

		event.preventDefault();
		var formData = new FormData(this);

		$.ajax({
			url: "editar-config.php",
			type: 'POST',
			data: formData,

			success: function (mensagem) {
				$('#msg-config').text('');
				$('#msg-config').removeClass()
				if (mensagem.trim() == "Salvo com Sucesso") {

					$('#btn-fechar-config').click();
					window.location="index.php";

				} else {

					$('#msg-config').addClass('text-danger')
					$('#msg-config').text(mensagem)
				}

			},

			cache: false,
			contentType: false,
			processData: false,

		});

	});
</script>