{% extends 'paginas/modelo.html' %}
{% load static %}


{% block titulo %}
	<title>Sobre</title>
{% endblock %}

{% block dashboard %}
	<div class="container-fluid mb-4 mx-4">
		<div class="container-fluid " >
            <section id="minimal-statistics" style="margin-right:20px">
                <div class="row mb-2">
                    <div class="col-12 mt-3 mb-1">
                        <h4 class="text-uppercase text-white">Sobre</h4>
        
                    </div>
                </div>
        
                <div class="row text-white">
                    conteúdo
                </div>
        
            </section>    
        
        </div>
	</div>
{% endblock %}
