{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Cadastrar Igrejas</title>
{% endblock %}

{% block dashboard %}

<div class="container-fluid mb-4 mx-4">

    <div class="col-md-12 my-3">
        <a href="{% url 'cadastrar-igrejas' %}" type="button" class="btn btn-success btn-sm">Nova Igreja</a>
    </div>
    
    <div class="tabela bg-light">
    
            <table id="example" class="table table-striped table-light table-hover my-4 my-4" style="width:100%">
                <thead>			
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th class="esc">Email</th>
                        <th class="esc">Telefone</th>
                        <th class="esc">Pastor</th>
                        
                        <th>Ações</th>
                    </tr>		
                </thead>
                <tbody>
                    {% for igrejas in object_list %}
                    <tr>
                        <td>{{ igrejas.nome }}</td>
                        <td>{{ igrejas.endereco }}</td>
                        <td class="esc">{{ igrejas.email }}</td>
                        <td class="esc">{{ igrejas.telefone }}</td>
                        <td class="esc">{{ igrejas.pastores.nome }}</td>
                        
                        <td>
                            <a href="{% url 'editar-igrejas' igrejas.pk %}"  title="Editar Registro">	<i class="bi bi-pencil-square text-primary"></i> </a>
                            <a href="{% url 'excluir-igrejas' igrejas.pk %}" title="Excluir">	<i class="bi bi-trash text-danger"></i> </a>
                            <a href="#" onclick="dados('{{ igrejas.nome }}', '{{ igrejas.cpf }}', '{{ igrejas.email }}', '{{ igrejas.telefone }}', '{{ igrejas.endereco }}')" title="Ver Dados">	<i class="bi bi-info-square-fill text-primary"></i> </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum Secretário Cadastrado </td>
                    </tr>
                    {% endfor %}
                        	
                    
                </tbody>
            </table>
        
    </div>
    
    
    <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o Nome" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Insira o CPF"  required>
                                </div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira o Email" required>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            
    
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Insira o Telefone" required>
                                </div>
                            </div>
    
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Endereço</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Insira o Endereço">
                                </div>
                            </div>
    
    
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Foto</label>
                                    <input type="file" class="form-control-file" id="imagem" name="imagem" onChange="carregarImg();">
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div id="divImg" class="mt-4">
                                    <img src="../img/membros/sem-foto.jpg"  width="130px" id="target">									
                                </div>
                            </div>
                        </div>
    
                        <input type="hidden" id="id" name="id">
    
                    </div>
                    <small><div align="center" id="mensagem"></div></small>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--Modal Tesoureiro-->
    <div class="modal fade" id="modalTesoureiro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Novo Tesoureiro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form" method="post">
                                       
                    <div class="modal-body">
                   
                        {% csrf_token %}
                        {{ form.as_p }}
                   
                        <!--
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o Nome" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Insira o CPF"  required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira o Email" required>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            
    
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Insira o Telefone" required>
                                </div>
                            </div>
    
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Endereço</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Insira o Endereço">
                                </div>
                            </div>
    
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Cidade</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Insira o Endereço">
                                </div>
                            </div>
    
    
                        </div>
    
                         Foto Tesoureiro 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Foto</label>
                                    <input type="file" class="form-control-file" id="imagem" name="imagem" onChange="carregarImg();">
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div id="divImg" class="mt-4">
                                    <img src="../img/membros/sem-foto.jpg"  width="130px" id="target">									
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" id="id" name="id">
    -->
                    </div>
                
                    <small><div align="center" id="mensagem"></div></small>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--Modal Editar Tesoureiro-->
    <div class="modal fade" id="modalEditarTesoureiro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Tesoureiro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o Nome" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">CPF</label>
                                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Insira o CPF"  required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira o Email" required>
                                </div>
                            </div>
    
                        </div>
                        <div class="row">
                            
    
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Insira o Telefone" required>
                                </div>
                            </div>
    
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Endereço</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Insira o Endereço">
                                </div>
                            </div>
    
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Cidade</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Insira o Endereço">
                                </div>
                            </div>
    
                        </div>
    
                        <!--Foto Tesoureiro
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Foto</label>
                                    <input type="file" class="form-control-file" id="imagem" name="imagem" onChange="carregarImg();">
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div id="divImg" class="mt-4">
                                    <img src="../img/membros/sem-foto.jpg"  width="130px" id="target">									
                                </div>
                            </div>
                        </div>
                        -->
    
                        <input type="hidden" id="id" name="id">
    
                    </div>
                    <small><div align="center" id="mensagem"></div></small>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Final modal Editar Tesoureiro-->
    
    <!-- Modal Excluir-->
    <div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="tituloModal">Excluir Registro</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form-excluir" method="post">
                    <div class="modal-body">
    
                        Deseja Realmente excluir: <span id="nome-excluido">{{ object }}</span>?
                        {% csrf_token %}
                        <small><div id="mensagem-excluir" align="center"></div></small>
    
                        <input type="hidden" class="form-control" name="id-excluir"  id="id-excluir">
    
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-fechar-excluir">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal fade" id="modalDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nome : <span id="nome-dados"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
    
                    <span class=""><b>CPF:</b> <span id="cpf-dados"></span></span>
                    <hr style="margin:4px">
    
                    <span class=""><b>Email:</b> <span id="email-dados"></span></span>
                    <hr style="margin:4px">
    
                    <span class=""><b>Telefone:</b> <span id="telefone-dados"></span></span>
                    <hr style="margin:4px">
    
                    <span class=""><b>Endereço:</b> <span id="endereco-dados"></span></span>
                    <hr style="margin:4px">
    
                </div>
    
            </form>
        </div>
    </div>
    </div>
    </div>
    
    
    <script type="text/javascript">var pag = "<?=$pagina?>"</script>
    <script src="../js/ajax.js"></script>
    
    
    <script type="text/javascript">
    
        function dados(nome, cpf, email, telefone, endereco, foto){
    
            $('#nome-dados').text(nome);
            $('#cpf-dados').text(cpf);
            $('#email-dados').text(email);
            $('#telefone-dados').text(telefone);
            $('#endereco-dados').text(endereco);
            $('#foto-dados').attr('src', '../img/membros/' + foto);
            
            var myModal = new bootstrap.Modal(document.getElementById('modalDados'), {		});
            myModal.show();
            $('#mensagem').text('');
        }
    
        function limpar(){
            $('#id').val('');
            $('#nome').val('');		
            $('#email').val('');
            $('#cpf').val('');
            $('#telefone').val('');
            $('#endereco').val('');
            
            $('#target').attr('src', '../img/membros/sem-foto.jpg');
        }
    
    </script>

{% endblock %}